body {
    font-family: 'Montserrat', sans-serif;
    background-image: url("./images/flores.png");
    background-position: center;
}

.logo-tipo{
    padding: 20px 0px;
}

.selector-for-some-widget {
    box-sizing: content-box;
  }

#txtTarefa{
    font-size: 18px;
}

.quadro-geral {
    padding: 15px 10px 10px 10px;
    background-color: #f9f9f9;
    height: 480px;
    overflow-y: auto;
    margin-bottom: 50px;
    border-radius: 6px;
}

.chkConcluir {
    width: 22px;
    height: 30px;
    float: left;
    margin-right: 8px !important;
}

.btn {
    float: right;
}

ul li span {
    font-size: 18px;
}

.editar-tarefa{
    font-size: 18px;
}

.list-group-item{
    margin-top: 8px;
}

li:hover {
    background-color:#f3f3f3;
}
ul:hover{
    cursor: grab;
}

.btn-sm{
    border: none !important;
}

.botao-editar{
    margin-right: 8px;
}